asgiref==3.9.1
charset-normalizer==3.4.4
Django==5.2.5
django-browser-reload==1.21.0
django-filter==25.2
et_xmlfile==2.0.0
gunicorn==25.0.2
openpyxl==3.1.5
pillow==11.3.0
psycopg==3.3.2
psycopg-binary==3.3.2
python-dotenv==1.2.1
reportlab==4.4.4
sqlparse==0.5.3
tzdata==2025.2
whitenoise==6.9.0
dj-database-url

