{% extends 'core/base.html' %} {% load static %} {% block title %}Nosotros -
CEDHU{% endblock %} {% block content %}
<link rel="stylesheet" href="{% static 'core/css/nosotros.css' %}" />

<!-- IMAGEN ENCABEZADO -->
<section class="conoce-cedhu"></section>

<!-- Botón Himno CEDHU flotante con texto dentro -->
<div class="himno-cedhu">
  <button id="botonMusica">
    <span>Himno<br />CEDHU</span>
    <div class="shine-wrapper">
      <div class="shine"></div>
    </div>
  </button>

  <audio
    id="musicaFondo"
    src="{% static 'core/audio/Himno-Cedhu.mp3' %}"
  ></audio>
</div>

<div class="contenido">
  <section class="bienvenida">
    <h2>NOSOTROS</h2>
    <div class="bienvenida-text">
      <p>
        El Centro de Desarrollo Humano (CEDHU) se encuentra en la ciudad de
        Sogamoso, en el departamento de Boyacá. Es una institución de carácter
        privado, calendario A, que ofrece los niveles de Preescolar, Educación
        Básica Primaria, Básica Secundaria y Media, en modalidad académico con
        profundización en valores, sistemas, robótica e inglés, con jornada
        única y orientación católica.
      </p>
      <p>
        Como institución educativa de orientación católica, el CEDHU fundamenta
        su quehacer pedagógico en la formación integral del ser humano,
        promoviendo el desarrollo de competencias académicas, personales y
        sociales, desde su modelo pedagógico denominado “Pedagogía de la
        Felicidad”.
      </p>
      <p>
        En alianza permanente con las familias, el CEDHU fortalece los valores
        del ser, la convivencia armónica y el pensamiento crítico de los
        educandos, acompañando el desarrollo de sus capacidades para la
        construcción responsable de su proyecto de vida.
      </p>
      <p>
        El CEDHU hace parte del sistema educativo colombiano y se rige por los
        lineamientos del Ministerio de Educación Nacional, su Proyecto Educativo
        Institucional y la normatividad vigente, promoviendo una cultura
        institucional basada en la calidad académica, la dignidad humana y la
        formación integral de la comunidad Cedhuista.
      </p>
    </div>
  </section>

  <!-- HORIZONTE INSTITUCIONAL -->
  <section class="section alt">
    <h2>HORIZONTE INSTITUCIONAL</h2>
    
    <div class="mision-vision">
      <div class="box">
        <h3>MISIÓN</h3>
        <p>
          En el CEDHU trabajamos para lograr la formación integral de la
          Comunidad Cedhuista, por medio de una educación orientada a la
          vivencia de la Felicidad a través del fortalecimiento de Valores del
          SER, la innovación y la creatividad; en beneficio de su entorno
          familiar, social, cultural, espiritual y económico.
        </p>
      </div>
      <div class="box">
        <h3>VISIÓN</h3>
        <p>
          El CEDHU será líder a nivel nacional aplicando la Pedagogía de la
          Felicidad como modelo de formación, con educandos y egresados
          innovadores, conscientes de sus principios y valores, trascendentes y
          creativos en su vida para generar Bienestar.
        </p>
      </div>
    </div>
      <img
        src="{% static 'core/img/horizonte-institucional.jpeg' %}"
        alt="Horizonte CEDHU"
        class="imagen-horizonte"
      />
    <!-- PRINCIPIOS Y VALORES -->
    <div class="principios-valores">

      <h3>NUESTROS PRINCIPIOS</h3>
      <p class="intro">
        Los principios están entendidos como aceptaciones y reconocimientos universales
        que se establecen y que rigen la convivencia:
      </p>

      <div class="celdas-grid">
        <div class="celda">
          <span class="celda-number">01</span>
          <h4>Reconocimiento a Dios</h4>
          <p>
            Como inicio y fin de todas las cosas. Él guía la misión educativa y protege
            a los integrantes de la comunidad Cedhuista.
          </p>
        </div>

        <div class="celda">
          <span class="celda-number">02</span>
          <h4>Respeto al Derecho a la Vida</h4>
          <p>
            A través del reconocimiento de cada ser humano como único y diferente,
            que practica el no enfadarse, no juzgar, no criticar, comprendiendo y siendo
            compasivo con los seres vivos de su entorno.
          </p>
        </div>

        <div class="celda">
          <span class="celda-number">03</span>
          <h4>Capacidad de Raciocinio</h4>
          <p>
            Posibilita diferenciar entre lo bueno y lo malo y actuar en consecuencia.
          </p>
        </div>

        <div class="celda">
          <span class="celda-number">04</span>
          <h4>Prosperidad y Gratitud</h4>
          <p>
            Se activa cuando reconozco y bendigo lo que tengo, siendo consciente que,
            para recibir, la primera acción es DAR.
          </p>
        </div>
      </div>

      <h3>NUESTROS VALORES</h3>
      <p class="intro">
        Los valores son acuerdos que hacemos entre grupos de personas. En el CEDHU
        consideramos ocho valores básicos:
      </p>

      <div class="celdas-grid">
        <div class="celda">
          <span class="celda-number">01</span>
          <h4>Moral</h4>
          <p>Entendida como el respeto a los acuerdos.</p>
        </div>

        <div class="celda">
          <span class="celda-number">02</span>
          <h4>Honestidad</h4>
          <p>
            Consiste en vivir y actuar de manera transparente, es decir, vivir de acuerdo
            a la verdad.
          </p>
        </div>

        <div class="celda">
          <span class="celda-number">03</span>
          <h4>Integridad</h4>
          <p>Solo hablo de aquello de lo que fui testigo.</p>
        </div>

        <div class="celda">
          <span class="celda-number">04</span>
          <h4>Respeto</h4>
          <p>
            Entiendo que mis deberes y derechos empiezan y terminan donde comienzan y
            terminan los de las demás personas.
          </p>
        </div>

        <div class="celda">
          <span class="celda-number">05</span>
          <h4>Compasión</h4>
          <p>
            Entiendo y acepto lo que le sucede a las demás personas y busco ser altruista
            y solidario con ellos.
          </p>
        </div>

        <div class="celda">
          <span class="celda-number">06</span>
          <h4>Amabilidad</h4>
          <p>
            Decido relacionarme con el esfuerzo y la acción correcta, siendo compasivo
            y respetuoso con los demás.
          </p>
        </div>

        <div class="celda">
          <span class="celda-number">07</span>
          <h4>Responsabilidad</h4>
          <p>
            Asumo que con lo que pienso, hablo y hago creo mi mundo y que solo yo soy
            el autor de lo que me sucede.
          </p>
        </div>

        <div class="celda">
          <span class="celda-number">08</span>
          <h4>Congruencia</h4>
          <p>
            Asumo la relación directa que hay entre lo que pienso, siento, digo y hago.
          </p>
        </div>
      </div>

    </div>
  </section>

  <!-- Lema -->
  <section class="section lema-section">
    <div class="lema-content">
      <div class="lema-text">
        <h2>NUESTRO LEMA</h2>
        <p>
          El Lema: “<span class="highlight">ORDEN ES BIENESTAR</span>”, se
          refiere a la condición básica en la vida de todos los seres; cuando
          nos ordenamos como personas, por resonancia hay un mejor orden como
          sociedad y se logran todos los objetivos.
        </p>

        <div class="more-text">
          <p>
            El orden es un soporte necesario para lograr que todos los demás
            aspectos funcionen. Los semicírculos amarillos que se ubican en la
            parte posterior representan el Sol, Sogamoso conocida como ―Ciudad
            del Sol y del Acero―. Los círculos rojos sobre la H y la U
            representan al Ser Humano. Por esto la Institución centra su Razón
            Social en un Ser como Institución, lo que le da carácter e
            identidad, como tal, en el enfoque pedagógico propio de su hacer.
          </p>
        </div>

        <button class="toggle-btn" onclick="toggleMore(this)">Ver más</button>
      </div>

      <div class="lema-image">
        <img src="{% static 'core/img/formacion.avif' %}" alt="Lema" />
      </div>
    </div>
  </section>

  <!-- Comunicación -->
  <section class="section comunicacion">
    <div class="hero-content">
      <h2>LA GANANCIA ESTÁ EN COMUNICARNOS</h2>
      <p>
        La comunicación es la base de todas las relaciones entre los seres
        vivos. Entre los seres humanos, es la parte más importante para poder
        convivir. En una explicación más sencilla, una buena COMUNICACIÓN
        contiene los siguientes ingredientes
      </p>
      <div class="more-details" style="display: none">
        <p>– Tener la <strong>INTENCIÓN</strong> de comunicar algo.</p>
        <p>
          – Poder establecer la conexión con el receptor, es decir, lograr su
          <strong>ATENCIÓN</strong>.
        </p>
        <p>
          – Cuando el mensaje va en un sentido y retorna se cumple un ciclo de
          comunicación. Si esta dinámica se mantiene, creamos
          <strong>AFINIDAD</strong> con esa persona.
        </p>
        <p>
          – Si mantenemos fluida, constante y clara nuestra relación, se genera
          el
          <strong>AFECTO</strong>, que es la base del <strong>AMOR</strong>.
          Cuando este valor está presente, creamos una realidad sólida y bien
          cimentada, que solo se debilita si faltamos al compromiso de
          comunicar.
        </p>
        <p>
          – A la hora de comunicar, los Cedhuistas tenemos una gran ventaja: un
          ingrediente que hace que nuestra comunicación sea diferente:
          <strong>LA INTEGRIDAD</strong>.
        </p>
      </div>

      <button class="toggle-btn" onclick="toggleMore(this)">Ver más</button>
    </div>
  </section>

  <!-- Bandera + Uniforme -->
  <section class="section alt bandera-uniforme">
    <div class="bandera-uniforme-content">
      <!-- Bloque Bandera -->
      <div class="bandera-box">
        <h2>NUESTRA BANDERA</h2>
        <p>
          <span style="color: #8a8a8a">Blanco:</span> Paz |
          <span style="color: #10b65c">Verde:</span> Esperanza |
          <span style="color: #e60000">Rojo:</span> Valores |
          <span style="color: #ffd500">Amarillo:</span> Riqueza intelectual
        </p>
        <div class="img-wrapper">
          <img src="{% static 'core/img/banderACEDHU.png' %}" alt="Bandera" />
        </div>
      </div>

      <!-- Bloque Uniforme -->
      <div class="uniforme-box">
        <h2>NUESTRO UNIFORME</h2>
        <p>
          El uniforme Cedhuista representa nuestra identidad institucional,
          valores y sentido de pertenencia.
        </p>
        <div class="img-wrapper">
          <img
            src="{% static 'core/img/uniforme_cedhu_mejorada_1152x768.png' %}"
            alt="Uniforme"
          />
        </div>
      </div>
    </div>
  </section>
  <!-- Filosofía -->
  <section class="section filosofia">
    <div class="hero-content">
      <h2>FILOSOFÍA Y MODELO PEDAGÓGICO</h2>
      <p class="intro-text">
        El Modelo Pedagógico del CEDHU: LA PEDAGOGÍA DE LA FELICIDAD, se
        fundamenta en la búsqueda de SER FELICES EN EL PROCESO DE ENSEÑAR Y
        APRENDER...
      </p>

      <div class="more-text">
        <p>
          reconociendo a Dios como principio creador de todo lo existente,
          generando bienestar a todos los seres a partir de la formación de las
          personas a través de nuestra Cátedra Cedhuista: El fortalecimiento de
          los valores del SER, en cada uno de nosotros; hacer fácil y sencillo
          el conocimiento a través de estrategias y prácticas innovadoras.
          Respetamos el cumplimiento de unas normas básicas: “ORDEN ES
          BIENESTAR” facilitando la convivencia pacífica e incluyente, así como
          la aceptación de sí mismo y los demás, con sus virtudes y defectos,
          como requisito para relacionarnos con todos los seres de este mundo y
          “LA GANANCIA ESTÁ EN COMUNICARNOS”, si lo hacemos desde el corazón y
          respetando acuerdos de verdad. Aceptamos que somos parte de una
          familia y un entorno social con los que interactuamos en doble vía,
          involucrándonos de forma activa, en los procesos pedagógicos,
          recibiendo influencias, con posibilidad de generar cambios benéficos.
        </p>
      </div>

      <button class="toggle-btn" onclick="toggleMore(this)">Ver más</button>
    </div>
  </section>

  <!-- Manual de Convivencia -->
  <section class="section alt manual-convivencia">
    <div class="hero-content">
      <h2>MANUAL DE CONVIVENCIA</h2>

      <p class="intro-text">
        El Manual de Convivencia del CEDHU establece los principios, derechos,
        deberes y normas que orientan la vida institucional y fortalecen una
        convivencia armónica basada en el respeto, la responsabilidad y los
        valores del SER.
      </p>

      <a
        href="{% static 'core/docs/Manual_de_Convivencia_CEDHU.pdf' %}"
        target="_blank"
        rel="noopener noreferrer"
        class="toggle-btn"
        style="display: inline-block; margin-top: 20px;"
      >
        Ver Manual de Convivencia (PDF)
      </a>
    </div>
  </section>



  <!-- Espacios -->
  <section class="section">
    <h2>NUESTROS ESPACIOS</h2>
    <div class="video-container">
      <video controls preload="metadata">
        <source
          src="{% static 'core/videos/EpaciosCedhu99.mp4' %}"
          type="video/mp4"
        />
        Tu navegador no soporta la reproducción de video.
      </video>
    </div>

    <p class="video-description">
      En esta sección te invitamos a recorrer nuestros espacios educativos,
      diseñados para el aprendizaje, la creatividad y la convivencia. Un entorno
      donde cada rincón inspira el desarrollo integral de nuestros educandos.
    </p>
  </section>

  <!-- Modal para lightbox -->
  <div id="lightbox" class="lightbox hide">
    <div class="lightbox-content">
      {% comment %}
      <span class="close-btn" id="closeLightbox">&times;</span> {%endcomment %}
      <h3 id="lightbox-title"></h3>
      <img id="lightbox-img" src="" alt="" />
    </div>
  </div>



  <section class="section alt">
    <h2>ESTRUCTURA ORGANIZACIONAL</h2>
    <img
      src="{% static 'core/img/estructura.png' %}"
      alt="Organigrama Colegio CEDHU"
      class="organigrama"
    />

    <!-- DIRECTIVAS -->
    <div class="accordion">
      <button class="accordion-btn" type="button">DIRECTIVAS CEDHU</button>
      <div class="accordion-content">
        <div class="staff">
          <!-- Tarjeta 1 -->
          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img
                  src="{% static 'core/img/juancarlos.avif' %}"
                  alt="Director General"
                />
                <h4>DR. JUAN CARLOS RUIZ</h4>
                <p>Director General</p>
              </div>
              <div class="staff-card-back">
                <p>
                  Líder visionario que impulsa innovación y bienestar con su
                  “Metodología de la Felicidad”, transformando el desarrollo
                  humano en la organización.
                </p>
              </div>
            </div>
          </div>

          <!-- Tarjeta 2 -->
          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img
                  src="{% static 'core/img/donacelia.avif' %}"
                  alt="Administradora"
                />
                <h4>SR. CELIA ELENA FAJARDO GARAVITO</h4>
                <p>Administradora del CEDHU</p>
              </div>
              <div class="staff-card-back">
                <p>
                  Administradora del CEDHU. Lidera procesos administrativos
                  eficientes que fortalecen la institución y fomentan la
                  excelencia académica, el desarrollo integral y la colaboración
                  entre toda la comunidad educativa.
                </p>
              </div>
            </div>
          </div>

          <!-- 🔹 Tarjeta nueva -->
          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img
                  src="{% static 'core/img/rectora.avif' %}"
                  alt="Nuevo Directivo"
                />
                <h4>RECT. NANCY CABRERA BRAVO</h4>
                <p>Rectora del CEDHU</p>
              </div>
              <div class="staff-card-back">
                <p>
                  Su gestión se enfocará en fortalecer la calidad académica,
                  fomentar un ambiente inclusivo y actualizar los procesos
                  pedagógicos y tecnológicos para preparar a los estudiantes
                  ante los retos del futuro..
                </p>
              </div>
            </div>
          </div>
          <!-- 🔹 Fin tarjeta nueva -->
        </div>
      </div>
    </div>

    <!-- COORDINADORES -->
    <div class="accordion">
      <button class="accordion-btn" type="button">
        COORDINADORES ACADÉMICOS Y PSICOORIENTADORA
      </button>
      <div class="accordion-content">
        <div class="staff">
          <!-- Tarjeta 1 -->
          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img
                  src="{% static 'core/img/Yadira-Africano.avif' %}"
                  alt="Coordinador"
                />
                <h4>Gladys Yadira Africano</h4>
                <p>COORDINADORA COMPORTAMENTAL</p>
              </div>
              <div class="staff-card-back">
                <p>COORDINADORA ACADEMICA BACHILLERATO</p>
              </div>
            </div>
          </div>

          <!-- Tarjeta 2 -->
          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img
                  src="{% static 'core/img/nancy_liliana.avif' %}"
                  alt="Coordinador Secundaria"
                />
                <h4>Nancy Liliana Camargo</h4>
                <p>COORDINADORA DE CALIDAD</p>
              </div>
              <div class="staff-card-back">
                <p>
                  COORDINADORA ACADEMICA PRIMARIA COORDINADORA ACADEMICA
                  PREESCOLAR.
                </p>
              </div>
            </div>
          </div>

          <!-- 🔹 Tarjeta nueva 3 -->
          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img
                  src="{% static 'core/img/erika.avif' %}"
                  alt="Psicoorientadora."
                />
                <h4>Erika Liliana Montes Cadena</h4>
                <p></p>
              </div>
              <div class="staff-card-back">
                <p>PSICOORIENTADORA.</p>
              </div>
            </div>
          </div>

          <!-- 🔹 Tarjeta nueva 4 -->
          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img
                  src="{% static 'core/img/donhugo.avif' %}"
                  alt="Coordinador 3"
                />
                <h4>Hugo Ernesto Ruiz Fajardo</h4>
                <p></p>
              </div>
              <div class="staff-card-back">
                <p>COORDINADOR DE SEGURIDAD.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- DOCENTES -->
    <div class="accordion">
      <button class="accordion-btn" type="button">DOCENTES</button>
      <div class="accordion-content">
        <div class="staff">

          <!-- PREESCOLAR -->
          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img src="{% static 'core/img/Vellcy-Vargas-Ayala.jpg' %}" alt="Vellcy Vargas Ayala" />
                <h4>Vellcy Vargas Ayala</h4>
                <p>Párvulos</p>
              </div>
              <div class="staff-card-back">
                <p>
                  Curso: Párvulos.<br />
                  Horario de atención: lunes 10:00 a 11:00 a.m.
                </p>
              </div>
            </div>
          </div>

          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img src="{% static 'core/img/Laura-Estefania-Barrera.jpg' %}" alt="Laura Estefanía Barrera" />
                <h4>Laura Estefanía Barrera</h4>
                <p>Prejardín</p>
              </div>
              <div class="staff-card-back">
                <p>
                  Curso: Prejardín.<br />
                  Horario de atención: miércoles 10:00 a 11:00 a.m.
                </p>
              </div>
            </div>
          </div>

          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img src="{% static 'core/img/Natalia-Lopez-Ortiz.jpg' %}" alt="Natalia López Ortíz" />
                <h4>Natalia López Ortíz</h4>
                <p>Jardín</p>
              </div>
              <div class="staff-card-back">
                <p>
                  Curso: Jardín.<br />
                  Horario de atención: miércoles 10:00 a 11:00 a.m.
                </p>
              </div>
            </div>
          </div>

          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img src="{% static 'core/img/Camila-Zorro.jpg' %}" alt="Camila Zorro" />
                <h4>Camila Zorro</h4>
                <p>Transición A</p>
              </div>
              <div class="staff-card-back">
                <p>
                  Curso: Transición A.<br />
                  Horario de atención: martes 8:00 a 9:00 a.m.
                </p>
              </div>
            </div>
          </div>

          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img src="{% static 'core/img/Laura-Guatavita.jpg' %}" alt="Laura Guatavita" />
                <h4>Laura Guatavita</h4>
                <p>Transición B</p>
              </div>
              <div class="staff-card-back">
                <p>
                  Curso: Transición B.<br />
                  Horario de atención: lunes 10:00 a 11:00 a.m.
                </p>
              </div>
            </div>
          </div>

          <!-- LENGUA CASTELLANA -->
          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img src="{% static 'core/img/Liz-Yelitza-Barrera.jpg' %}" alt="Liz Yelitza Barrera Alarcón" />
                <h4>Liz Yelitza Barrera Alarcón</h4>
                <p>Lengua Castellana</p>
              </div>
              <div class="staff-card-back">
                <p>
                  Horario de atención: martes de 7:30 a 8:30 a.m.<br />
                  Lengua Castellana: 1° - 2°.<br />
                  Lectura Crítica: 1° - 2°.<br />
                  Dirección grupo: 2° A.<br />
                  Investigación: 2° A.<br />
                  Artística: 1° - 2°.
                </p>
              </div>
            </div>
          </div>

          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img src="{% static 'core/img/Yaneth-Rosso.jpg' %}" alt="Yaneth Rosso" />
                <h4>Yaneth Rosso</h4>
                <p>Lengua Castellana</p>
              </div>
              <div class="staff-card-back">
                <p>
                  Horario de atención: lunes 4:10 a 5:00 p.m.<br />
                  Lengua Castellana: 3° - 4° - 5°.<br />
                  Lectura Crítica: 3° - 4° - 5°.<br />
                  Lúdicas.<br />
                  Dirección grupo: 5° A.<br />
                  Investigación: 5° A.
                </p>
              </div>
            </div>
          </div>

          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img src="{% static 'core/img/Elizabeth-Albarracin.jpg' %}" alt="Elizabeth Albarracín" />
                <h4>Elizabeth Albarracín</h4>
                <p>Lengua Castellana</p>
              </div>
              <div class="staff-card-back">
                <p>
                  Horario de atención: martes 7:30 a 8:30 a.m.<br />
                  Lengua Castellana: 6° - 7°.<br />
                  Lectura Crítica: 6° - 7°.<br />
                  Dirección grupo: 7° A.
                </p>
              </div>
            </div>
          </div>

          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img src="{% static 'core/img/Diana-Paola-Franco.jpg' %}" alt="Diana Paola Franco" />
                <h4>Diana Paola Franco</h4>
                <p>Lengua Castellana</p>
              </div>
              <div class="staff-card-back">
                <p>
                  Horario de atención: miércoles 7:30 a 8:30 a.m.<br />
                  Lengua Castellana: 8° - 9°.<br />
                  Lectura Crítica: 8° - 9°.<br />
                  Dirección grupo: 9° A.
                </p>
              </div>
            </div>
          </div>

          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img src="{% static 'core/img/Monica-Viviana-Ayala.jpg' %}" alt="Mónica Viviana Ayala" />
                <h4>Mónica Viviana Ayala</h4>
                <p>Lengua Castellana</p>
              </div>
              <div class="staff-card-back">
                <p>
                  Horario de atención: miércoles 2:00 a 2:50 p.m.<br />
                  Lengua Castellana: 10° - 11°.<br />
                  Lectura Crítica: 10° - 11°.<br />
                  Dirección grupo: 11° B.
                </p>
              </div>
            </div>
          </div>

          <!-- INGLÉS -->
          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img src="{% static 'core/img/Ximena-Aparicio.jpg' %}" alt="Ximena Aparicio" />
                <h4>Ximena Aparicio</h4>
                <p>Inglés</p>
              </div>
              <div class="staff-card-back">
                <p>
                  Horario de atención: martes 2:00 a 2:50 p.m.<br />
                  Inglés: PV - PJ.<br />
                  Inglés: JR - TR.<br />
                  L. Técnico: 1°, 2° y 3°.<br />
                  Inglés: 1°.
                </p>
              </div>
            </div>
          </div>

          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img src="{% static 'core/img/Angela-Patricia-Rocha.jpg' %}" alt="Ángela Patricia Rocha A" />
                <h4>Ángela Patricia Rocha A</h4>
                <p>Inglés</p>
              </div>
              <div class="staff-card-back">
                <p>
                  Horario de atención: miércoles 3:20 a 4:10 p.m.<br />
                  Inglés: 2° - 3° y 4°.<br />
                  Dirección grupo: 2° B.<br />
                  Investigación: 2° B.
                </p>
              </div>
            </div>
          </div>

          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img src="{% static 'core/img/Alexa-Cetina.jpg' %}" alt="Alexa Cetina" />
                <h4>Alexa Cetina</h4>
                <p>Inglés</p>
              </div>
              <div class="staff-card-back">
                <p>
                  Horario de atención: martes de 7:30 a 8:30 a.m.<br />
                  Inglés: 5°.<br />
                  L. Técnico: 4° - 5° - 6°.<br />
                  Conversacional: 6°.<br />
                  Dirección grupo: 5° B.<br />
                  Investigación: 5° B.<br />
                  Ecología: 6° y 7°.
                </p>
              </div>
            </div>
          </div>

          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img src="{% static 'core/img/Isabel-Cristina-Gomez.jpg' %}" alt="Isabel Cristina Gómez" />
                <h4>Isabel Cristina Gómez</h4>
                <p>Inglés</p>
              </div>
              <div class="staff-card-back">
                <p>
                  Horario de atención: lunes - martes 10:30 a 11:00 a.m.<br />
                  Inglés: 6° - 7°.<br />
                  L. Técnico: 7°.<br />
                  Dirección grupo: 6° B.
                </p>
              </div>
            </div>
          </div>

          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img src="{% static 'core/img/Yeison-Fernando-Diaz.jpg' %}" alt="Yeison Fernando Díaz" />
                <h4>Yeison Fernando Díaz</h4>
                <p>Inglés</p>
              </div>
              <div class="staff-card-back">
                <p>
                  Horario de atención: lunes de 7:30 a 8:30 a.m.<br />
                  Inglés: 8° y 9°.<br />
                  L. Técnico: 8°.<br />
                  Dirección grupo: 9° B.
                </p>
              </div>
            </div>
          </div>

          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img src="{% static 'core/img/Lida-Salamanca.jpg' %}" alt="Lida Salamanca" />
                <h4>Lida Salamanca</h4>
                <p>Inglés</p>
              </div>
              <div class="staff-card-back">
                <p>
                  Horario de atención: viernes de 7:30 a 8:30 a.m.<br />
                  Inglés: 10° - 11°.<br />
                  Conversacional: 7° a 9°.
                </p>
              </div>
            </div>
          </div>

          <!-- MATEMÁTICAS -->
          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img src="{% static 'core/img/Karen-Andrea-Barrera.jpg' %}" alt="Karen Andrea Barrera" />
                <h4>Karen Andrea Barrera</h4>
                <p>Matemáticas</p>
              </div>
              <div class="staff-card-back">
                <p>
                  Horario de atención: lunes de 7:30 a 8:30 a.m.<br />
                  Matemáticas: 1° - 2° - 3°.<br />
                  Geometría: 1° - 2° - 3°.<br />
                  Estadística: 1° - 2°.
                </p>
              </div>
            </div>
          </div>

          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img src="{% static 'core/img/Yenny-Avella.jpg' %}" alt="Yenny Avella" />
                <h4>Yenny Avella</h4>
                <p>Matemáticas</p>
              </div>
              <div class="staff-card-back">
                <p>
                  Horario de atención: miércoles 7:30 a 8:30 a.m.<br />
                  Matemáticas: 4° - 5°.<br />
                  Geometría: 4° - 5°.<br />
                  Estadística: 3° - 4° - 5° - 6°.<br />
                  Dirección grupo: 4° B.<br />
                  Investigación: 4° B.
                </p>
              </div>
            </div>
          </div>

          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img src="{% static 'core/img/Lyd-Angelica-Puerto.jpg' %}" alt="Lyd Angélica Puerto" />
                <h4>Lyd Angélica Puerto</h4>
                <p>Matemáticas</p>
              </div>
              <div class="staff-card-back">
                <p>
                  Horario de atención: martes 8:30 a 9:30 a.m.<br />
                  Matemáticas: 6° - 7°.<br />
                  Geometría: 6° - 7°.<br />
                  Estadística: 7°.<br />
                  Dirección grupo: 7° B.
                </p>
              </div>
            </div>
          </div>

          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img src="{% static 'core/img/Maria-Fernanda-Castillo.jpg' %}" alt="María Fernanda Castillo" />
                <h4>María Fernanda Castillo</h4>
                <p>Matemáticas</p>
              </div>
              <div class="staff-card-back">
                <p>
                  Horario de atención: jueves 11:10 a 12:00 m.<br />
                  Matemáticas: 8° - 9°.<br />
                  Geometría: 8° - 9°.<br />
                  Estadística: 8°.<br />
                  Dirección grupo: 8° C.
                </p>
              </div>
            </div>
          </div>

          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img src="{% static 'core/img/Huber-Suarez.jpg' %}" alt="Huber Suárez" />
                <h4>Huber Suárez</h4>
                <p>Matemáticas</p>
              </div>
              <div class="staff-card-back">
                <p>
                  Horario de atención: viernes 11:10 a 12:00 m.<br />
                  Matemáticas: 10° - 11°.<br />
                  Geometría: 10° - 11°.<br />
                  Estadística: 9° - 10° - 11°.<br />
                  Dirección grupo: 11° A.
                </p>
              </div>
            </div>
          </div>

          <!-- CIENCIAS NATURALES / INVESTIGACIÓN -->
          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img src="{% static 'core/img/Alba-Salcedo.jpg' %}" alt="Alba Salcedo" />
                <h4>Alba Salcedo</h4>
                <p>Ciencias Naturales</p>
              </div>
              <div class="staff-card-back">
                <p>
                  Horario de atención: lunes 3:20 a 4:00 p.m.<br />
                  Explorando, mi ambiente: Preescolar.<br />
                  Imagin-Arte: Preescolar.<br />
                  C. Naturales: 1° - 2°.<br />
                  Dirección grupo: 1° A.<br />
                  Investigación: 1° A.<br />
                  Religión: 1° A y 2° - 3°.
                </p>
              </div>
            </div>
          </div>

          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img src="{% static 'core/img/Jenny-Moreno.jpg' %}" alt="Jenny Moreno" />
                <h4>Jenny Moreno</h4>
                <p>Ciencias Naturales</p>
              </div>
              <div class="staff-card-back">
                <p>
                  Horario de atención: miércoles 7:30 a 8:30 a.m.<br />
                  C. Naturales: 3° - 4°.<br />
                  Química: 3° - 4°.<br />
                  Biología: 5°.<br />
                  Dirección grupo: 4° A.<br />
                  Investigación: 4° A.<br />
                  Física: 3°.
                </p>
              </div>
            </div>
          </div>

          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img src="{% static 'core/img/Yadira-Africano.avif' %}" alt="Yadira Africano" />
                <h4>Yadira Africano</h4>
                <p>Biología</p>
              </div>
              <div class="staff-card-back">
                <p>
                  Horario de atención: miércoles 9:30 a 10:30 a.m.<br />
                  Biología: 6° - 7° - 8°.
                </p>
              </div>
            </div>
          </div>

          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img src="{% static 'core/img/Nydia-Gomez.jpg' %}" alt="Nydia Gómez" />
                <h4>Nydia Gómez</h4>
                <p>Biología / Ecología</p>
              </div>
              <div class="staff-card-back">
                <p>
                  Horario de atención: miércoles 7:30 a 8:30 a.m.<br />
                  Biología: 9° a 11°.<br />
                  Ecología: 8° - 9° - 10° - 11°.<br />
                  Dirección grupo: 10° B.<br />
                  Investigación: 9° - 10° - 11°.
                </p>
              </div>
            </div>
          </div>

          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img src="{% static 'core/img/Diego-Bernal.jpg' %}" alt="Diego Bernal" />
                <h4>Diego Bernal</h4>
                <p>Dibujo Técnico</p>
              </div>
              <div class="staff-card-back">
                <p>
                  Horario de atención: martes 11:10 a 12:00 m.<br />
                  Dibujo Técnico: 6° a 11°.<br />
                  Investigación: 6° - 7° - 8°.<br />
                  Dirección grupo: 8° B.<br />
                  Lúdicas.
                </p>
              </div>
            </div>
          </div>

          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img src="{% static 'core/img/Angie-Moreno.jpg' %}" alt="Angie Moreno C" />
                <h4>Angie Moreno C</h4>
                <p>Física</p>
              </div>
              <div class="staff-card-back">
                <p>
                  Horario de atención: jueves 7:30 a 8:30 a.m.<br />
                  Física: 4° a 11°.<br />
                  Dirección grupo: 10° A.<br />
                  Lúdicas.
                </p>
              </div>
            </div>
          </div>

          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img src="{% static 'core/img/Ferney-Gonzalez.jpg' %}" alt="Ferney González" />
                <h4>Ferney González</h4>
                <p>Química</p>
              </div>
              <div class="staff-card-back">
                <p>
                  Horario de atención: viernes 11:10 a 12:00 m.<br />
                  Química: 5° a 11°.<br />
                  Dirección grupo: 9° C.
                </p>
              </div>
            </div>
          </div>

          <!-- CIENCIAS SOCIALES / FILOSOFÍA -->
          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img src="{% static 'core/img/Yasmin-Gonzalez.jpg' %}" alt="Yasmin González" />
                <h4>Yasmin González</h4>
                <p>Ciencias Sociales</p>
              </div>
              <div class="staff-card-back">
                <p>
                  Horario de atención: miércoles 2:00 a 2:50 p.m.<br />
                  C. Sociales: 1° a 5°.<br />
                  C. Ciudadanas: 1° a 5°.<br />
                  Investigación: 3° B.<br />
                  Dirección grupo: 3° B.<br />
                  Religión: 4°.
                </p>
              </div>
            </div>
          </div>

          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img src="{% static 'core/img/Loren-Daniela-Perez.jpg' %}" alt="Loren Daniela Pérez" />
                <h4>Loren Daniela Pérez</h4>
                <p>Ciencias Sociales</p>
              </div>
              <div class="staff-card-back">
                <p>
                  Horario de atención: jueves 7:30 a 8:30 a.m.<br />
                  C. Sociales: 7° a 11°.<br />
                  C. Ciudadanas: 7° a 11°.<br />
                  Dirección grupo: 11° C.
                </p>
              </div>
            </div>
          </div>

          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img src="{% static 'core/img/Diego-Salcedo.jpg' %}" alt="Diego Salcedo" />
                <h4>Diego Salcedo</h4>
                <p>Filosofía</p>
              </div>
              <div class="staff-card-back">
                <p>
                  Horario de atención: martes 7:30 a 8:30 a.m.<br />
                  Filosofía: 6° a 11°.<br />
                  Competencias C: 6°.<br />
                  Dirección grupo: 7° C.<br />
                  C. Sociales: 6° ABC.
                </p>
              </div>
            </div>
          </div>

          <!-- RELIGIÓN Y EDUCACIÓN EMOCIONAL -->
          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img src="{% static 'core/img/Padre-William-Chaparro.jpg' %}" alt="Padre William Chaparro" />
                <h4>Padre William Chaparro</h4>
                <p>Educación Emocional</p>
              </div>
              <div class="staff-card-back">
                <p>
                  Horario de atención: lunes - martes 10:30 a 11:00 a.m.<br />
                  Desarrollo Emocional: 6° a 11°.
                </p>
              </div>
            </div>
          </div>

          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img src="{% static 'core/img/Esperanza-Peña.jpg' %}" alt="Esperanza Peña" />
                <h4>Esperanza Peña</h4>
                <p>Educación Emocional</p>
              </div>
              <div class="staff-card-back">
                <p>
                  Horario de atención: miércoles 2:00 a 2:50 p.m.<br />
                  Desarrollo Emocional: 1° a 5°.<br />
                  Artística: 3° a 5°.<br />
                  Expresión Teatral: Preescolar.<br />
                  Dirección grupo: 3° A.<br />
                  Investigación: 3° A.<br />
                  Expresión Teatral: 1° y 2°.
                </p>
              </div>
            </div>
          </div>

          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img src="{% static 'core/img/Padre-Holman-Horacio-Herrera.jpg' %}" alt="Padre Holman Horacio Herrera Chaparro" />
                <h4>Padre Holman Horacio Herrera Chaparro</h4>
                <p>Religión</p>
              </div>
              <div class="staff-card-back">
                <p>
                  Horario de atención: jueves 11:00 a 12:00 m.<br />
                  Religión: 5° a 11°.
                </p>
              </div>
            </div>
          </div>

          <!-- EDUCACIÓN FÍSICA -->
          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img src="{% static 'core/img/Yaqueline-Barrera.jpg' %}" alt="Yaqueline Barrera" />
                <h4>Yaqueline Barrera</h4>
                <p>Educación Física</p>
              </div>
              <div class="staff-card-back">
                <p>
                  Horario de atención: miércoles 10:00 a 11:00 a.m.<br />
                  Desarrollo Psicomoto: Preescolar.<br />
                  Educación Física: 1° - 2°.<br />
                  Religión: 1° B.<br />
                  Dirección grupo: 1° B.<br />
                  Investigación: 1° B.
                </p>
              </div>
            </div>
          </div>

          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img src="{% static 'core/img/Enrique-Diaz.jpg' %}" alt="Enrique Díaz" />
                <h4>Enrique Díaz</h4>
                <p>Educación Física</p>
              </div>
              <div class="staff-card-back">
                <p>
                  Horario de atención: martes 2:00 a 2:50 p.m.<br />
                  Educación Física: 3° a 7°.<br />
                  Dirección grupo: 6° A.
                </p>
              </div>
            </div>
          </div>

          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img src="{% static 'core/img/Francisco-Galvis.jpg' %}" alt="Francisco Galvis" />
                <h4>Francisco Galvis</h4>
                <p>Educación Física</p>
              </div>
              <div class="staff-card-back">
                <p>
                  Horario de atención: jueves 2:00 a 2:50 p.m.<br />
                  Educación Física: 8° a 11°.<br />
                  Dirección grupo: 9° C.
                </p>
              </div>
            </div>
          </div>

          <!-- SISTEMAS -->
          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img src="{% static 'core/img/Jair-Sebastian-Estupinan.jpg' %}" alt="Jair Sebastián Estupiñán" />
                <h4>Jair Sebastián Estupiñán</h4>
                <p>Sistemas</p>
              </div>
              <div class="staff-card-back">
                <p>
                  Horario de atención: lunes 7:30 a 8:30 a.m.<br />
                  Sistemas: 2° a 6° - 7° A - B - C.<br />
                  Robótica: 2° a 6°.<br />
                  Dirección grupo: 6° C.
                </p>
              </div>
            </div>
          </div>

          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img src="{% static 'core/img/Jose-Esteban-Montanez.jpg' %}" alt="José Esteban Montañez" />
                <h4>José Esteban Montañez</h4>
                <p>Sistemas</p>
              </div>
              <div class="staff-card-back">
                <p>
                  Horario de atención: viernes 7:30 a 8:30 a.m.<br />
                  Sistemas: 8° a 11°.<br />
                  Robótica: 8° a 11°.<br />
                  Robótica: 7° A - B y C.
                </p>
              </div>
            </div>
          </div>

          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img src="{% static 'core/img/Esmeralda-Diaz.avif' %}" alt="Esmeralda Díaz" />
                <h4>Esmeralda Díaz</h4>
                <p>Sistemas</p>
              </div>
              <div class="staff-card-back">
                <p>
                  Horario de atención: viernes 7:30 a 8:30 a.m.<br />
                  Sistemas: 8° a 11°.<br />
                  Robótica: 8° a 11°.<br />
                  Robótica: 7° A - B y C.
                </p>
              </div>
            </div>
          </div>

          <!-- MÚSICA -->
          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img src="{% static 'core/img/Jairo-Sandoval.jpg' %}" alt="Jairo Sandoval" />
                <h4>Jairo Sandoval</h4>
                <p>Música</p>
              </div>
              <div class="staff-card-back">
                <p>
                  Horario de atención: martes 3:20 a 4:10 p.m.<br />
                  Música: 1° a 5°.<br />
                  Música: Preescolar.
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!--administrativos -->
    <div class="accordion">
      <button class="accordion-btn" type="button">ADMINISTRATIVOS</button>
      <div class="accordion-content">
        <div class="staff">
          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img
                  src="{% static 'core/img/TESORERA.png' %}"
                  alt="Docente 2"
                />
                <h4>Luz Mary Barrera Gil</h4>
                <p>Tesorera</p>
              </div>
              <div class="staff-card-back">
                <p>Experiencia, estudios y breve descripción.</p>
              </div>
            </div>
          </div>

          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img
                  src="{% static 'core/img/contadora.png' %}"
                  alt="Docente 2"
                />
                <h4>Paola Ochoa Aguilar</h4>
                <p>Contadora</p>
              </div>
              <div class="staff-card-back">
                <p>Experiencia, estudios y breve descripción.</p>
              </div>
            </div>
          </div>

          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img
                  src="{% static 'core/img/Auxiliarcontable.png' %}"
                  alt="Docente 2"
                />
                <h4>Yina Paola Coy Fonseca</h4>
                <p>Auxuliar Contable</p>
              </div>
              <div class="staff-card-back">
                <p>Experiencia, estudios y breve descripción.</p>
              </div>
            </div>
          </div>

          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img
                  src="{% static 'core/img/fabiola.png' %}"
                  alt="Docente 2"
                />
                <h4>Fabiola Vargas Echavarria</h4>
                <p>Enfermera</p>
              </div>
              <div class="staff-card-back">
                <p>Experiencia, estudios y breve descripción.</p>
              </div>
            </div>
          </div>
          <!-- ... más docentes según necesites -->
        </div>
      </div>
    </div>

    <!--administrativos -->
    <div class="accordion">
      <button class="accordion-btn" type="button">SERVICIOS GENERALES</button>
      <div class="accordion-content">
        <div class="staff">
          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img src="{% static 'core/img/estela.png' %}" alt="Docente 2" />
                <h4>Estela Alarcon</h4>
                <p></p>
              </div>
              <div class="staff-card-back">
                <p>Experiencia, estudios y breve descripción.</p>
              </div>
            </div>
          </div>

          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img src="{% static 'core/img/maria.png' %}" alt="Docente 2" />
                <h4>Maria Eugenia</h4>
                <p></p>
              </div>
              <div class="staff-card-back">
                <p>Experiencia, estudios y breve descripción.</p>
              </div>
            </div>
          </div>

          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img
                  src="{% static 'core/img/jorgefabiio.png' %}"
                  alt="Docente 2"
                />
                <h4>SJorge Fabio Rusinque</h4>
                <p></p>
              </div>
              <div class="staff-card-back">
                <p>Experiencia, estudios y breve descripción.</p>
              </div>
            </div>
          </div>

          <div class="staff-card" tabindex="0">
            <div class="staff-card-inner">
              <div class="staff-card-front">
                <img
                  src="{% static 'core/img/donluis.png' %}"
                  alt="Docente 2"
                />
                <h4>Luis Carlos Rodriguez</h4>
                <p></p>
              </div>
              <div class="staff-card-back">
                <p>Experiencia, estudios y breve descripción.</p>
              </div>
            </div>
          </div>
          <!-- ... más docentes según necesites -->
        </div>
      </div>
    </div>
  </section>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    // ============================================
    // BARRA DE PROGRESO DE LECTURA - CEDHU
    // ============================================
    function updateReadingProgress() {
      const winScroll = document.documentElement.scrollTop;
      const height =
        document.documentElement.scrollHeight -
        document.documentElement.clientHeight;
      const scrolled = (winScroll / height) * 100;

      let progressBar = document.getElementById("reading-progress");
      if (!progressBar) {
        progressBar = document.createElement("div");
        progressBar.id = "reading-progress";
        document.body.prepend(progressBar);
      }
      progressBar.style.width = scrolled + "%";
    }

    // Crear estilos para la barra
    const style = document.createElement("style");
    style.textContent = `
    #reading-progress {
      position: fixed;
      top: 0;
      left: 0;
      height: 3px;
      background: linear-gradient(90deg, #10B65C 0%, #FFE600 100%);
      z-index: 9999;
      transition: width 0.15s ease-out;
      box-shadow: 0 2px 4px rgba(14, 168, 82, 0.25);
    }
  `;
    document.head.appendChild(style);

    // Escucha el scroll
    window.addEventListener("scroll", updateReadingProgress);
  });
</script>

{% endblock %} {% block extra_js %}
<script src="{% static 'core/js/nosotros.js' %}"></script>
{% endblock %}
